<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head') %>
    
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <main class="container vh-100 pt-2 d-flex text-center justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste et error, in eveniet culpa quibusdam optio. In esse ea repellat dolorum tenetur nam reprehenderit, quisquam provident consectetur autem deserunt aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur laboriosam, voluptate nulla quod ex repudiandae natus nemo a recusandae quasi odit optio aperiam incidunt eum nobis, fuga doloremque, blanditiis soluta.</p>

      </section>
    </main>

    <%- include('partials/footer.ejs') %> 
  </body>
</html>
